{% load static %}

<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{% static 'css/style.css' %}'>
    <title>Zrób to!</title>
  </head>

  <body>
    <div class="main">
      <div class="header">
        <h1>Zrób to!</h1>
      </div>
      <div>
        <ul class="menu">
          <li><a href="/">Moja lista</a></li>
          <li><a href="/about">O projekcie</a></li>
          <li><a href="/authors">Autorzy</a></li>
        </ul>
      </div>
      <div class="about_content">
        <h2>Zdarza Ci się, że zapominasz o rzeczach, które miałeś zrobić?
        Twoje życie przypomina ciągły bieg? Jeśli tak, to bardzo dobrze trafiłeś!</h2></br>

        <h3>"Zrób to!" to nowoczesna alternatywa dla nieporęcznych notesów i kalendarzy!
        Nasza aplikacja pomoże ci zorganizować swój plan dnia, wprowadzić najważniejsze dane.
        W tym miejscu możesz stworzyć listę zakupów, książek do przeczytania, wprowadzić miejsca i daty spotkań.</h3>

        <h3>Dzięki "Zrób to!" już nigdy nie zapomnisz o kupnie makaronu czy odebraniu syna z przedszkola!</h3>
      </div>
    </div>
  </body>
</html>
