{% load static %}
Zrób to!
Moja lista
O projekcie
Autorzy
Zdarza Ci się, że zapominasz o rzeczach, które miałeś zrobić? Twoje życie przypomina ciągły bieg? Jeśli tak, to bardzo dobrze trafiłeś!

"Zrób to!" to nowoczesna alternatywa dla nieporęcznych notesów i kalendarzy! Nasza aplikacja pomoże ci zorganizować swój plan dnia, wprowadzić najważniejsze dane. W tym miejscu możesz stworzyć listę zakupów, książek do przeczytania, wprowadzić miejsca i daty spotkań.
Dzięki "Zrób to!" już nigdy nie zapomnisz o kupnie makaronu czy odebraniu syna z przedszkola!
