{% load static %}

<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{% static 'css/style.css' %}'>
    <title>Zrób to!</title>
  </head>

  <body>
    <div class="main">
      <div class="header">
        <h1>Zrób to!</h1>
      </div>
      <div>
        <ul class="menu">
          <li><a href="/">Moja lista</a></li>
          <li><a href="/about">O projekcie</a></li>
          <li><a href="/authors">Autorzy</a></li>
        </ul>
      </div>
      <div class="authors_content">
        <h3>Ambitni studenci II roku kognitywistyki na Uniwersytecie im. Adama Mickiewicza - to właśnie my!<h3>
        <h2>Autorzy aplikacji "Zrób to!" : Krzysztof Skupiński i Amelia Gronowska.<h2>
        <h3>Pełni energii i z głowami pełnymi pomysłów zapraszamy do kontaktu z nami - w razie jakichkolwiek pytań czy chęci współpracy.</h3>
        </br>
        <h4>amegro@st.amu.edu.pl</br>
        krzsku@st.amu.edu.pl</h4>
      </div>
    </div>
  </body>
</html>
